Hostname: {{ ansible_net_hostname }}

Model: {{ansible_net_model}}

Serial Number: {{ansible_net_serialnum}}

OS Version: {{ansible_net_version}}

OS Image: {{ansible_net_image}}

CDP Neighbors:
{{ansible_net_neighbors}}

Running Configuration:
{{ansible_net_config}}